.wd-course-navigation {
    background-color: white;
    list-style: none;
    padding:0px;
    width:190px;
    margin:0px;
    margin-left: 20px;
}

.wd-course-navigation li {
    padding-left: 10px;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding-top: 10px; */
    padding-bottom: 15px;
}

.wd-course-navigation li.wd-active {
    border-left: 2px solid black;

}

.wd-course-navigation li.wd-active a {
    color: black;
    
}

.wd-course-navigation a {
    color: red;
    text-decoration: none;

}
.wd-course-navigation .list-group-item.active {
    color:black;
    background-color: white;
    border-color: white;
    border-left: 2px solid black;
}

.wd-course-navigation .list-group-item {
    color: red;
    background-color: var(--bs-list-group-bg);
    border: none;
}

.wd-course-navigation.list-group {
    font-size: 0.9em;
    border-radius: 0;
}