.card-body .title {
    font-weight: 600;
    color: blue;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.card-body .title:hover {
    text-decoration: underline solid blue;
    color: blue;
}

.btn {
    margin-left: 10px;
}

.edit {
    width: 100%;
    display: flex;
    padding-bottom: 15px;
}

.card-text{
    text-decoration: none;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
}

.card-desc{
    text-decoration: none;
    font-size: smaller;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
}

.wd-icon {
    font-size: x-large;
}

.wd-dashboard {
    margin-left: 110px;
    margin-top: 10px;
    width: 50vb;
}


.wd-courses {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

.card .card-img-top {
    height: 200px;
    width: 350px;
}

.card {
    height: max-content;
    width: max-content;
    margin-bottom: 10px;
    margin-right: 10px;
}

.commands {
    display: flex;
    justify-content: center;
}



/* .flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
  .flex-col {
    flex: 0 0 calc(33.3333% - 20px);
  } */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .flex-item {
    flex: 0 0 33.3333%;
  } 
